:root {
    --text-color: #DBE4EF;
    --card-front-color:black;
    --card-back-color: white;
}

body {
    background: url('bg-desktop.webp');
    font-family: monospace;
}

#container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
    box-shadow: 1px 1px 20px yellow;
}

.cartao {
    margin: 1rem 1rem;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    box-shadow: 1px 1px 20px yellow;
}

.cartao__conteudo {
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
    box-shadow: 1px 1px 20px yellow;
}

.cartao__conteudo h3 {
    color: var(--text-color);
    border: 4px solid green;
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    backface-visibility: hidden;
    box-shadow: 1px 1px 20px yellow;
}

.cartao__conteudo p {
    margin-top: 1rem;
    padding: 2rem;
    margin-top: 4rem;
    font-size: 1.4vw;
}

.cartao__conteudo__pergunta p {
    color: var(--text-color);
    font-weight: 500;
}

.cartao__conteudo__resposta p {
    color: var(--card-back-color);
    font-weight: 700;
}

.cartao.active .cartao__conteudo {
    transform: rotateY(180deg);
}

.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.cartao__conteudo__resposta {
    transform: rotateY(180deg);
    background-color: black;
    border: 4px solid green;
}

footer {
    background-color: black;
    color: white;
    font-size: larger;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    filter: drop-shadow(1px 1px 20px rgb(10, 248, 46));
    border-radius: 10px;
    font-family: monospace;
    font-size: 22px;
    font-weight: bolder;
}

footer p {
    text-align: center;
    font-size: larger;
    margin-top: 0.5rem;
    font-family: monospace;
    font-weight: bolder;
    font-size: 22px;
}

@media (max-width: 560px) {
    
    body {
        background: url('bg-mobile.webp'), no-repeat cover;
    }

    .cartao {
        flex: 1 0 calc(100% - 1rem)
    }

    .cartao__conteudo h3 {
        font-size: 3vw;
    }

    .cartao__conteudo p {
        font-size: 3.8vw;
    }
}

h1{
    color: white;
    font-size: larger;
    text-align: center;
    font-family: monospace;
    font-size: 22px;
    font-weight: bolder;
}